@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: rgb(38, 42, 51);
  --text-color: rgb(157, 159, 158);
  --primary: rgb(222, 96, 18)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
  min-height: 100vh;
}

.layout-container {
  background: rgb(30, 34, 43);
}

.layout-background {
  background-size: 161px;
  background-repeat: repeat;
  background-image: url(https://mika-resource.oss-cn-hangzhou.aliyuncs.com/blog/bg.png);
  opacity: 0.03;
}

@layer base {
  h2 {
    font-size: xx-large;
  }
}

@layer components {
  .tab {
    color: var(--text-color);
  }
  .tab:hover {
    color: var(--primary)
  }
  .tab-active {
    color: var(--primary)
  }
}
