@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: rgb(38, 42, 51);
  --text-color: rgb(82, 82, 91);
  --primary: rgb(222, 96, 18)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  /*background: var(--background-color);*/
  min-height: 100vh;
}

.layout-container {
  background: rgb(30, 34, 43);
}

.layout-background {
  background-size: 161px;
  background-repeat: repeat;
  background-image: url(https://mika-resource.oss-cn-hangzhou.aliyuncs.com/blog/bg.png);
  opacity: 0.03;
}

.primary-color {
  color: var(--primary);
}

.hover\:primary-color:hover {
  color: var(--primary);
}

.hover\:primary-color-chevron-right:hover .chevron-right {
  color: var(--primary);
}

@layer base {
  h1, h2 {
    @apply text-white mb-2
  }
  h3, h4, h5, h6 {
    @apply text-white mb-4
  }
  p {
    @apply my-4
  }
  code {
    @apply rounded-md
  }
}

@keyframes enter-from-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .flex-direction {
    @apply flex flex-col
  }
  .title {
    font-size: xx-large;
    font-weight: 600;
  }
  .subtitle {
    font-size: x-large;
  }
  .animation-fade-in {
    animation: fade-in 1s ease;
  }
  .animation-enter-from-bottom {
    animation: enter-from-bottom 1s ease;
  }
  .clickable {
    @apply cursor-pointer duration-300
  }
  .clickable:hover {
    @apply hover:primary-color
  }
  .container-card {
    @apply flex flex-col items-center
  }
  .tab {
    color: var(--text-color);
  }
  .tab-active {
    color: var(--primary)
  }
  .spinner-container {
    @apply w-full mt-4 text-center
  }

  .markdown-react a {
    @apply clickable underline
  }
}
